name: ci

on: [push, pull_request]

jobs:
  ci:
    # Set up operating system
    runs-on: ubuntu-latest

    # Define job steps
    steps:
    - name: Check-out repository
      uses: actions/checkout@v4

      # Step 2: Install uv
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      
    - name: Run headless test
      uses: GabrielBB/xvfb-action@v1
      with:
        run: npm test
        working-directory: ./ #optional
      
    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: 3.11
    - name: Install package
      run: uv sync

    - name: Run tests
      run: uv run pytest ./tests --cov=./ --cov-report=xml
      env:
        PYTHONPATH: ${{ github.workspace }}