name: ci

on: [push, pull_request]

jobs:
  ci:
    # Set up operating system
    runs-on: ubuntu-latest

    # Define job steps
    steps:
    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: 3.11

    - name: Check-out repository
      uses: actions/checkout@v2

    - name: Install uv
      uses: astral-sh/uv@v1

    - name: Install package
      run: uv sync

    - name: Run tests
      run: uv run pytest ./tests --cov=./ --cov-report=xml